*{
    font-family:'Ara Alm Bon';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

header {
    background-color:rgb(186, 108, 13);
    width: 100%;
    padding: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
 align-items: center;
 padding: 10px 200px;
 border-bottom: blanchedalmond;
}

.logo{
text-decoration: none;
color: bisque;
text-transform: uppercase;
font-weight: 700;
font-size: 1.7em;
letter-spacing: 2px;

}

.navigation a{
    color: bisque;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: rgb(104, 45, 3);
}   

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(img/top-view-glass-jar-full-honey.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
      
}

.main h2 {
color:rgb(186, 108, 13);
font-size: 1.8em;
font-weight: 500;
text-align: right;

padding-left: 30px;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: rgb(181, 111, 6);
    font-size: 2em;
    font-weight: 600;
    text-align: right;
    margin-left: 500;

    padding-left: 30px;
}

.main h3{
    color:rgba(131, 76, 3, 0.884);
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 50px;
    text-align: right;
}

.main-btn{
    text-align: center;
    color: bisque;
    background-color: rgb(60, 32, 5);
    background-position: 30px;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 2px;

    letter-spacing: 1px;
    border-radius: 15px;
   margin: 2px 2px;
    padding-left: 30px;

}